<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>qool.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9BC1EE52FAB8D11008D6132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9BC1EF22FAB8D12008D6132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9BC1EFC2FAB8D12008D6132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
